
#displayPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-image: url('/pkemonJS/svg/card-back1.svg');
    /* background-image: url('../svg/card-back1.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    list-style: none;
    margin: 10px;
    color: #fff;
	/* font-weight: bold; */
    text-align: center;
    padding:0 0.5em 0.5em;
    border-radius: 1em;
    box-shadow: inset 0px 0px 5px #EF5350;
}
.card .addToTeamButton{
    padding: 0.7em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}
.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 160px;
    /* padding: 2em 0 0; */
}
.card p{
    font-size: 0.8em;
    margin: 0.2em;
}
.card button{
    /* font-weight: bold; */
    padding: 0.5em 2em;
    /* width: 10%; */
    text-align: center;
    /* margin: 0.5em; */
    font-size: 0.8em;
}
@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
