.myTeam,
.myReserv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 1;
    margin: 2em 0;
    /* box-shadow: inset 0px 0px 5px #EF5350; */
}

.teamInfo,
h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* .myTeam-container{
    text-align: center;
    margin: 1em;
    color: #fff;
	font-weight: bold;
    
} */
.myTeam-container h1 {
    font-size: 1.7em;
    background-color: #A869C5;
    box-shadow: inset 0px 0px 15px #EF5350;
    padding: 0.3em;
}

.moveUp,.moveDown,
.moveUpReservPoke,
.moveDownReservPoke {
    color: #ffff;
    margin-right: 1em;
    transform: rotate(0deg);
    transition: transforms 0.3s ease-in-out;
    transform: rotate(90deg) scale(1, 1);
}
.moveUp:hover,
.moveDown:hover,
.moveUpReservPoke:hover,
.moveDownReservPoke:hover {
    color: #EF9A73;
    cursor: pointer;
}
.moveButtons {
    display: flex;
    text-align: center;
    gap: 1em;
    flex-wrap: nowrap;
    margin: 0.5em 0;
}